<nav class="navbar">
        <div class="navbar-brand">Youtube Playlist</div>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <!--<li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>-->
            <li class="nav-item"><a class="nav-link" routerLink="playlist">Playlist</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="youtubeapi">Youtube search</a></li>
            <li class="nav-item" id="register"><a class="nav-link" routerLink="register">Register</a></li>
        </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
